In [130]:
# Function to calculate the means of pollutants from specdata depending on the id of the observations. Ignore NA
# NaN values

pollutantmean <- function(directory, pollutant, id = 1:332) {
        d <- paste(directory, '/', sep = '')
        means <- c()
        for(n in id) {
            if(n < 10) {
                file <- paste(d, '00', as.character(n), '.csv', sep = '')
            }
            else if(n < 100) {
                file <- paste(d, '0', as.character(n), '.csv', sep = '')
            }
            else {
                file <- paste(d, as.character(n), '.csv', sep = '')
            }
            
            data <- read.csv(file)
            #print(mean(data[pollutant][!is.na(data[pollutant])]))
            means <- append(means, mean(data[pollutant][!is.na(data[pollutant])]))
            
        }
        
        means <- means[!is.nan(means)]
        sum(means) / length(means)
}

In [156]:
pollutantmean('specdata', 'sulfate', id = 1:10)

[1] 3.806771

In [151]:
complete <- function(directory, id = 1:322){
    d <- paste(directory, '/', sep = '')
    idn <- c(id)
    nobs <- c()
    for(n in id) {
            if(n < 10) {
                file <- paste(d, '00', as.character(n), '.csv', sep = '')
            }
            else if(n < 100) {
                file <- paste(d, '0', as.character(n), '.csv', sep = '')
            }
            else {
                file <- paste(d, as.character(n), '.csv', sep = '')
            }
            
            data <- read.csv(file)
            nobs <- append(nobs, length(data[!is.na(data)]))
        }
    
    data.frame(idn, nobs)
}

In [154]:
complete('specdata', id = 99:101)

  idn nobs
1  99 8265
2 100 2403
3 101 1588

In [ ]:
corr <- function(directory, threshold = 0){
    d <- paste(directory, '/', sep = '')
}