## Coding Standards ##

There are some basic coding standards for R, just like with other programning languages, that are considered good practice.

* 1. Always save your work in text files (.txt).
* 2. Indent your code.
    - 4 spaces minimum, 8 spaces ideal.
* 3. Limit the width of your code (80 columns).
* 4. Limit the length of your functions (do only one thing). If need a function that does several things, build individual functions and combine them in one function.

## Dates and Times in R ##

R has a special representation for dates and times.

- Dates are represented by `Date` classes.
- Times are represented by the `POSTXct` and `POSIXlt` classes.
- Dates are stored internally as the number of days since 1970-01-01 (UNIX time).
- Times are stored internally as the number of seconds since 1970-01-01.

Dates can be coerced from a string using the `as.Date()` function:

In [1]:
x <- as.Date('1970-01-01')
x

[1] "1970-01-01"

In [3]:
class(x)

[1] "Date"

With `unclass()` we can check the time to (negative) or since (possitive) the UNIX date 1970-01-01.

In [4]:
unclass(x)

[1] 0

In [5]:
x <- as.Date('1970-01-10')
x

[1] "1970-01-10"

In [6]:
unclass(x)

[1] 9

#### Times ####

Times are represented using the POSIXct and POSIClt class.

- POSIXct: A very large integer under then hood, useful for storing times in something like a data frame.
- POSIClt: It is a list under the hood, and stores a bunch of other useful information like the day of the week, day of the year, month and day of the month.

There are a number of generic functions that work on both dates and times:

- `weekdays`: give the day of the week.
- `months`: gives the name of the month.
- `quarters`: gives the quarter number (eg. Q1, Q2).

Times can be coerced from strings using the `as.POSIXct()` or as.`POSIClt()` functions:

In [7]:
x <- Sys.time()
x

[1] "2022-12-05 11:10:00 IST"

In [8]:
p <- as.POSIXlt(x)
p

[1] "2022-12-05 11:10:00 IST"

In [9]:
unclass(x)

[1] 1670231400

In [10]:
unclass(p)

$sec
[1] 0.2978411

$min
[1] 10

$hour
[1] 11

$mday
[1] 5

$mon
[1] 11

$year
[1] 122

$wday
[1] 1

$yday
[1] 338

$isdst
[1] 0

$zone
[1] "IST"

$gmtoff
[1] 7200

attr(,"tzone")
[1] ""    "IST" "IDT"

In [11]:
p$sec

[1] 0.2978411

In [13]:
p$wday

[1] 1

And with the `as.POSIXct()` format, we only get the number of secons since a particupar date:

In [15]:
x <- Sys.time() # default is POSIXct format
x

[1] "2022-12-05 11:13:27 IST"

In [16]:
unclass(x)

[1] 1670231607

In [17]:
x&sec

ERROR: Error in eval(expr, envir, enclos): object 'sec' not found

In [18]:
y = as.POSIXct('1950-01-01')
y

[1] "1950-01-01 IST"

In [19]:
unclass(y) # negative value, second from 1970-01-01 backwards.

[1] -631159200
attr(,"tzone")
[1] ""

There is also the `strptime` function in case your data has dates written in a diferent format:

In [22]:
datestring <- c('January 10, 2012 10:40', 'December 9, 2011 9:10')
datestring

[1] "January 10, 2012 10:40" "December 9, 2011 9:10"

In [27]:
x <- strptime(datestring, '%B %d, %Y %H:%M')
x

[1] "2012-01-10 10:40:00 IST" "2011-12-09 09:10:00 IST"

In [25]:
class(x)

[1] "POSIXlt" "POSIXt"

For more details on formating time strings run `?strptime`.

#### Operations on Date and Time ####

Once we have date and time objects, we can run operations on them which can be very useful. Like, for example, we can add or subtract dates (`+` and `-`), as well as compare them (`>', `==`, `<=`, etc).

In [28]:
x <- as.Date('2012-01-01')
x

[1] "2012-01-01"

In [29]:
y <- as.Date('2021-06-28')
y

[1] "2021-06-28"

In [30]:
x - y

Time difference of -3466 days

In [31]:
y - x

Time difference of 3466 days

In [33]:
x == y

[1] FALSE

In [34]:
x > y

[1] FALSE

In [35]:
x < y

[1] TRUE