# Welcome to our third Lab Practice!

This lab is all about defining functions with return values. Are you ready? Let's get started!

You will find some small tasks in sections below. After defining functions, call them to test.

## Define functions with return numeric values.

###Task: define a function that return the absolute value of *n*, where *n* is a parameter

In [1]:
# your code will be here

def absolute(n):
    return abs(n)

print(absolute(-100))
print(absolute(150))

100
150

###Task: define a function that return the product value of *n* and *m*, where *n, m* are parameters

In [2]:
# your code will be here
def mult(n, m):
    return n*m

print(mult(4, 5))
print(mult(10, 7))

20
70

###Task: define a function that return the result of raise *n* to the power of *m*, where *n, m* are parameters

In [3]:
# your code will be here
def power(n, m):
    return n**m

print(power(2, 8))
print(power(5, 2))

256
25

###Task: define a function that return the average of three numbers, *x, y, z*, where *x, y, z* are parameters

In [6]:
# your code will be here
def average(x, y, z):
    return sum([x, y, z]) / 3

print(average(10, 20, 30))
print(average(12, 25, 18))

20.0
18.333333333333332

###Task: define a function that return the minimal of three numbers, *x, y, z*, where *x, y, z* are parameters

In [7]:
# your code will be here
def minimum(x, y, z):
    return min([x, y, z])

print(minimum(10, 20, 30))
print(minimum(12, 25, 18))

10
12

###Task: define a function that print sum of integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [8]:
# your code will be here
def range_sum(n):
    return sum([num for num in range(1, n+1)])

print(range_sum(10))
print(range_sum(100))

55
5050

## Define functions with return str values.

###Task: define a function that return "hello, *name*" where *name* is a parameter

In [9]:
# your code will be here
def greet(name):
    return f'Hello {name}'

greet('John')

'Hello John'

###Task: define a function that return "hello world" *n* times, where *n* is a parameter

In [14]:
# your code will be here
def hello(n):
    return ' hello world ' * n

hello(5)

' hello world  hello world  hello world  hello world  hello world '

###Task: define a function that concatenate message 1 and message 2 together and return it

In [16]:
# your code will be here
def concat(message1, message2):
    return message1 + ' ' + message2

concat('Hello', 'World')

'Hello World'

## Define functions with return boolean values.

###Task: define a function that return the boolean value for given *n* is even or not, *n* is a parameter

In [19]:
# your code will be here
def even(n):
    return n % 2 == 0

print(even(8))
print(even(7))

True
False

###Task: define a function that return the boolean value for given *n* is odd or not, *n* is a parameter

In [21]:
# your code will be here
def odd(n):
    return n % 2 != 0

print(odd(8))
print(odd(7))

False
True

###Task: define a function that return the boolean value for given *n* is prime number or not, *n* is a parameter

In [22]:
# your code will be here
def is_prime(n):
    primes = []
    for i in range(2, n+1):
        if all(i%p for p in primes):
            primes.append(i)
    return n in primes

print(is_prime(17))
print(is_prime(18))
print(is_prime(23))

True
False
True

###Task: define a function that return the boolean value for given *n* is positive (>0) or not, *n* is a parameter

In [24]:
# your code will be here
def positive(n):
    return n > 0

print(positive(10))
print(positive(0))
print(positive(-10))

True
False
False

###Task: define a function that return the boolean value for whether or not given *n* is divisible by 6, *n* is a parameter

In [25]:
# your code will be here
def div_six(n):
    return n % 6 == 0

print(div_six(36))
print(div_six(37))

True
False

## Define functions return multiple values.

###Task: define a function that return the min, max, avg, and total of given 3 numbers *x, y, z*, where *x, y, z* are parameters

In [26]:
# your code will be here
def min_max_avg(x, y, z):
    arr = [x, y, z]
    return min(arr), max(arr), sum(arr) / 3

print(min_max_avg(10, 20, 30))

(10, 30, 20.0)